<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <title>AI Agents Consultancy Services | Assistant Engineering</title>
    <meta
      name="description"
      content="Discover top-tier engineering consultancy services with Assistant Engineering. Specializing in AI assistants and new ways of interacting with your tools. Contact us today for expert guidance!"
    />
    <meta
      name="keywords"
      content="AI assistants, Chatbots, GPTs, AI, AI Interfaces, Data analysis"
    />
    <link rel="canonical" href="https://assistant.engineering" />
    <meta name="robots" content="index, follow" />
    <meta property="og:title" content="Expert AI assistants Consultancy | Assistant Engineering" />
    <meta
      property="og:description"
      content="Offering specialized AI assistants consultancy services in London. Connect with our expert team for your AI assistant project needs."
    />
    <meta property="og:url" content="https://assistant.engineering" />
    <meta property="og:type" content="website" />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "AssistantEngineering" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased">
    <%= @inner_content %>
  </body>
</html>
